body {
    background-color: #000000;
}

.faturas-container {
    color: #ffffff;
    background-color: #000000;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    border-radius: 8px;
    min-height: 100vh;
    text-align: center;
}

.label-cpf {
    font-weight: bold;
    margin-right: 10px;
    color: #ffffff;
}

.pix-code {
    display: block;
    word-wrap: break-word;
}

.info-message {
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
}

.info-message a {
    color: #ffffff;
    text-decoration: none;
}

.info-message a:hover {
    text-decoration: underline;
}

.button-copiar {
    background-color: #2ecc71;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-copiar:hover {
    background-color: #27ae60;
}

.input-cpf,
.button-buscar {
    width: calc(100% - 20px);
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-size: 1rem;
    color: #ffffff;
    background-color: #34495e;
}

.input-cpf:focus,
.button-buscar:focus {
    outline: none;
    border-color: #3498db;
}

.button-buscar {
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-buscar:hover {
    background-color: #2980b9;
}

.select-status::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% - 2px);
    pointer-events: none;
    color: #ffffff;
}

.error {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
}

.fatura {
    background-color: #000000;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ecf0f1;
}

.img-qrcode {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.html-container {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
}

.html-container p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.html-container h2 {
    font-size: 20px;
    color: #333333;
    border-bottom: 1px solid #333333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.html-container .img-qrcode {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    border: 1px solid #cecece;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (max-width: 600px) {
    table {
        margin: 10px 0;
    }

    td {
        padding: 8px;
    }
}