.container {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
  }
  
  .label-cpf {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .input-cpf {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #3498db;
    background-color: #34495e;
    color: #ecf0f1;
    cursor: pointer;
    outline: none;
    appearance: none;
    position: relative;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="12" height="12" viewBox="0 0 4 5" xmlns="https://www.w3.org/2000/svg"><path fill="%23ecf0f1" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
  }
  
  .select-status::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% - 2px);
    pointer-events: none;
    color: #34495e;
  }
  
  .error {
    color: #ff0000;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .fatura {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  h2 {
    font-size: 20px;
    color: #ecf0f1;
    border-bottom: 1px solid #7f8c8d;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ecf0f1;
  }
  
  .img-qrcode {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  